body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
	font-family: "Helvetica", "Arial", sans-serif;
}

a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
	&:hover { color: tomato; }
}

// Nav menu
#menu {
	position: absolute;
	width: 100%;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;

	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s
	cubic-bezier(0.77,0.2,0.05,1.0);

	li {
		padding: 10px 0;
		font-size: 22px;
	}

	&Bar {
        @media only screen and (max-width:650px) { display: none }
	}

	&Toggle {
        @media only screen and (min-width:650px) { display: none }
		display: block;
		position: relative;
		top: 50px;
		left: 50px;
		z-index: 3;
		-webkit-user-select: none;
		user-select: none;

		input {
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;
			cursor: pointer;
			opacity: 0; /* hide this */
			z-index: 4; /* and place it over the hamburger */
			-webkit-touch-callout: none;

			&:checked ~ span {
				opacity: 1;
				transform: rotate(45deg) translate(-2px, -1px);
				background: #232323;
			}
			&:checked ~ span:nth-last-child(3) {
				opacity: 0;
				transform: rotate(0deg) scale(0.2, 0.2);
			}

			&:checked ~ span:nth-last-child(2) {
				transform: rotate(-45deg) translate(0, -1px);
			}
			/*  And let's slide it in from the left */
			&:checked ~ ul {
				transform: none;
			}
		}

		/* Just a quick hamburger */
		span {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;

			background: #cdcdcd;
			border-radius: 3px;

			z-index: 3;

			transform-origin: 4px 0px;

			transition: transform 0.5s
			cubic-bezier(0.77,0.2,0.05,1.0),
			background 0.5s
			cubic-bezier(0.77,0.2,0.05,1.0),
			opacity 0.55s ease;
			&:first-child {
				transform-origin: 0% 0%;
			}
			&:nth-last-child(2) {
				transform-origin: 0% 100%;
			}
		}
	}
}


// The screen to cover up the controls for the excel doc.
.wrapper{
    position:relative;
    z-index: 1;
    display: inline-block;
}
.hidelogo{
    position: absolute;
    width: 100%;
    height: 30px;
    background: #FFF;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    display: block;
    color: #fff;
}

